.appHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.taskItem {
  margin-right: 1.5rem;
  display: inline;
}

.taskTitle {
  font-size: 20px;
}

.taskList {
  list-style: none;
}

.completed {
  text-decoration: line-through;
}
